body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  background-color: rgb(239, 237, 237);
  padding: 40px 0;
  overflow-x: hidden;
}

//\\// PREDEFINED COLORS //\\//

  $icon-green:green;
  $icon-red: red;
  $icon-neutral: grey;
  $heading-color: rgb(65, 65, 65);
  $sandy-bg: rgba(238, 228, 159, 0.8);
  $silver-bg: rgba(216, 224, 224, 0.8);
  $bronze-bg: rgba(240, 211, 170, 0.8);
  $grey-bg: rgba(243, 240, 236, 0.8);

  $wins-green: rgb(76, 142, 76);
  $wins-red: rgb(205, 184, 88);
//\\// COMMON ELEMENTS //\\//

.icon--green {
  color: $icon-green;
}
.icon--red {
  color: $icon-red;
}
.icon--neutral {
  color: $icon-neutral;
}

//\\// CAROUSEL HEADER //\\//
.carousel-header {
  background-color: rgba(33, 66, 66, 0.1);;
}

.carousel-root {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 20px;
}

//\\// PLAYER LIST //\\//
.players__position {
  height: 100%;
}
.players__position,
.players__position-h {
  width: 9%;
  text-align: center;
}
.position__current {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 65%;
  height: 100%;
  border-radius: 0 10px 10px 0;
  font-size: 0.9rem;
}
.position__current {
  background-color: $grey-bg;
}
.players__item:first-child .position__current {
  background-color: $sandy-bg;
  font-weight: bold;
}
.players__item:nth-child(2) .position__current {
  background-color: $silver-bg;
  font-weight: bold;
}
.players__item:nth-child(3) .position__current {
  background-color: $bronze-bg;
  font-weight: bold;
}

.position__previous {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 35%;
  font-size: 0.8rem;
  font-weight: bold;
}

.players__name-h,
.players__name {
  width: 15%;
  text-align: left;
}
.players__name {
  font-size: 0.85rem;
  font-weight: bold;
  color: $heading-color;
}

.players__rating-h,
.players__rating {
  width: 8%;
  text-align: left;
}

.players__change-h, 
.players__change {
  width: 10%;
  text-align: left;
}

.players__games-h,
.players__games {
  width: 10%;
  text-align: center;
}
.players__games-h {
  display: flex;
  flex-direction: column;
}
.players__games {
  display: flex;
  // flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  .games__tournaments {
    font-size: 0.7rem;
  }
  .games__games {
    font-size: 0.9rem;
    span {
      margin-right: 4px;
    }
  }
}


.players__wins-h,
.players__wins {
  width: 10%;
  text-align: center;
}
.players__opener,
.players__opener-h {
  width: 4%;
  text-align: center;
}
.players__opener {
  button {
    padding: 0;
  }
}

.players__headings {
  display: flex;
  height: 40px;
  justify-content: space-around;
  align-items: center;
  gap: 4%;
  padding-right: 4%;
  font-size: 0.8rem;
  font-weight: bold;
  color: $heading-color;
}

.players {
  box-sizing: border-box;
  width: 60%;
  margin: 0 auto;
}

.players__list {
  list-style: none;
  padding-left: 0;
}

// .players__item,
.players__top {
  position: relative;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4%;
  padding: 14px 4% 14px 0;

  font-size: 0.85rem;
  background-color: #fff;
  margin-bottom: 4px;
}

.players__change {
  display: flex;
  align-items: center;
  gap: 10px;
  svg {
    width: 0.9rem;
    height: 0.9rem;
  }
}

.players__wins {
  font-weight: bold;
  font-size: 0.8rem;
}

.players__wins--green {
  color: $wins-green;
}

.players__wins--red {
  color: $wins-red;
}

.players__bottom {
  background-color: #fff;
  margin-bottom: 5px;
}

.bottom__container {
  height: 80px;
  padding: 20px 4% 25px 4%;
  display: flex;
}
.bottom__left  {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1rem;
}
.bottom__color-rate {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.icon-rotated {
  transform: rotate(180deg);
}

//\\// Mobile styles //\\//
@media screen and (max-width: 760px) {
  .players {
    width: 100%;
    margin: 0 auto;
    padding: 0 2%;
  }

  .players__headings {
    font-size: 0.6rem;
    gap: 2%;
  }
  .players__top {
    gap: 2%;
  }
  
  .players__name {
    font-size: 0.8rem;
  }
  .players__name-h,
  .players__name {
    width: 12%;
  }
  .players__change {
    flex-direction: column;
    align-items: center;
    gap: 2px;
  }
  .players__games {
    flex-direction: column;
    align-items: center;
  }
  .players__wins {
    font-size: 0.7rem;
  }
  .players__games {
    .games__tournaments {
      font-size: 0.70rem;
      text-align: center;
    }
    .games__games {
      border-bottom: 1px solid grey;
      font-size: 0.75rem;
    }
  }
  .players__games,
  .players__games-h {
    width: 7%;
  }
  .players__change,
  .players__change-h {
    width: 7%;
  }
  .players__rating-h,
  .players__rating {
    width: 10%;
    text-align: left;
  }
  .players__opener-h,
  .players__opener {
    width: 10%;
    text-align: right;
  }
  .games__games span {
    display: none;
  }

  .bottom__container {
    padding: 15px 4%;
  }
  .bottom__left  {
    font-size: 0.85rem;
  }

}