body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  background-color: rgb(239, 237, 237);
  padding: 40px 0;
  overflow-x: hidden;
}

//\\// PREDEFINED COLORS //\\//

  $icon-green:green;
  $icon-red: red;
  $icon-neutral: grey;
  $heading-color: rgb(65, 65, 65);
  $sandy-bg: rgb(238, 228, 159);
  $silver-bg: rgb(216, 224, 224);
  $bronze-bg: rgb(240, 211, 170);
  $grey-bg: rgb(243, 240, 236);
//\\// COMMON ELEMENTS //\\//

.icon--green {
  color: $icon-green;
}
.icon--red {
  color: $icon-red;
}
.icon--neutral {
  color: $icon-neutral;
}

//\\// PLAYER LIST //\\//
.players__position {
  height: 100%;
}
.players__position,
.players__position-h {
  width: 7%;
  text-align: center;
}
.position__current {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60%;
  border-radius: 0 10px 10px 0;
  font-size: 0.9rem;
}
.position__current {
  background-color: $grey-bg;
}
.players__item:first-child .position__current {
  background-color: $sandy-bg;
  font-weight: bold;
}
.players__item:nth-child(2) .position__current {
  background-color: $silver-bg;
  font-weight: bold;
}
.players__item:nth-child(3) .position__current {
  background-color: $bronze-bg;
  font-weight: bold;
}

.position__previous {
  font-size: 0.8rem;
}

.players__name-h,
.players__name {
  width: 15%;
  text-align: left;
}
.players__rating-h,
.players__rating {
  width: 10%;
  text-align: left;
}

.players__change-h, 
.players__change {
  width: 15%;
  text-align: left;
}

.players__games-h,
.players__games {
  width: 15%;
  text-align: center;
}

.players__tournaments-h,
.players__tournaments {
  width: 10%;
  text-align: center;
}


.players__headings {
  display: flex;
  height: 40px;
  justify-content: space-around;
  align-items: center;
  gap: 5%;
  padding-right: 4%;
  font-size: 0.8rem;
  font-weight: bold;
  color: $heading-color;
}

.players {
  box-sizing: border-box;
  width: 60%;
  margin: 0 auto;
}

.players__list {
  list-style: none;
  padding-left: 0;
}

.players__item {
  position: relative;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
  padding: 14px 4% 14px 0;

  background-color: #fff;
  margin-bottom: 4px;
}

.players__change {
  display: flex;
  align-items: center;
  gap: 10px;
}

//\\// Mobile styles //\\//
@media screen and (max-width: 900px) {
  .players {
    width: 100%;
    margin: 0 auto;
    padding: 0 2%;
  }
}